.flights-list{
    padding: 0;
    list-style: none;
  }
  
  .flights-list li {
    margin-bottom: 20px;border: 6px solid blue;
    padding: 10px;
  }
  
  .flights-list li h2 {
    margin: 0 0 5px 0;
    font-size: 18px;
    
  }
  
  .flights-list li a {
    margin-top: 10px;
    color: blue;
    display: block;
    text-decoration: none; 
  }
  
  .flight-info li h2 {
    display: flex;
    
  }
  
  .flights-list img {
    margin-right: 20px;
    float: left;
    
  }
  
  .flight-data li h2 {
   display: inline-block;
    
  }